FROM debian:stretch-slim as builder

# Install required packages
RUN apt-get update -q \
    && DEBIAN_FRONTEND=noninteractive apt-get install -yq --no-install-recommends \
    ca-certificates \
    git \
    make \
    gcc \
    g++ \
    curl \
    openssh-client \
    zlib1g-dev \
    libssl-dev \
    libreadline-dev \
    libcurl4-openssl-dev \
    libexpat1-dev \
    gettext \
    libssl-dev \
    libc6-dev \
    apt-transport-https \
    gnupg2 \
    software-properties-common \
    && apt-get clean \
    && rm -rf /var/lib/apt/lists/*

RUN curl -fsSL https://download.docker.com/linux/debian/gpg | apt-key add - \
&& add-apt-repository  "deb [arch=amd64] https://download.docker.com/linux/debian $(lsb_release -cs) stable" \
&& apt-get update -q \
&& apt-get install -yq docker-ce

<%= Snippets.new(include: %w[versions ruby tmpclean]).populate %>

FROM debian:stretch-slim
MAINTAINER GitLab Inc. <support@gitlab.com>
COPY --from=builder / /
